{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/flowers/flower-detail.css' %}"
/>
<script defer src="{% static 'js/flower-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="flower-container">
  <div class="flower-img">
    <img 
      class="flowerspic" 
      src="{% static 'images/flowers.jpeg' %}" 
      alt="Flowers"
    >
  </div>
  <div class="flower-details">
    <h1>{{ flower.name }}</h1>
    <p>{{ flower.description }}</p>
    <br>
    <div class="flower-actions">
      <a href="{% url 'flowers_update' flower.id %}" class="btn warn">Edit</a>
      <a href="{% url 'flowers_delete' flower.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="waterings-vase-container">
  <section class="waterings">
    <div class="subsection-title">
      <h2>Waterings</h2>
      <img 
        src="{% static 'images/drop.png' %}" 
        alt="Watering flower"
        class="drops"
      />
      <img 
        src="{% static 'images/drop.png' %}" 
        alt="Watering flower"
        class="drops"
      />
      <img 
        src="{% static 'images/drop.png' %}" 
        alt="Watering flower"
        class="drops"
      />
    </div>
    <h3>Add a Watering</h3>
    <form
      action="{% url 'add_watering' flower.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% if flower.watered_for_today %}
        <p class="watered">{{flower.name}} has been watered for today!</p>
      {% else %}
        <p class="unwatered">{{flower.name}} might be thirsty!!</p>
      {% endif %}
      {% csrf_token %}
      {{ watering_form.as_p }}
      <button type="submit" class="btn submit">Add Water</button>
    </form>
    <h3>Past Waterings</h3>
    {% if flower.watering_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Water</th></tr>
        </thead>
        <tbody>
          {% for watering in flower.watering_set.all %}
            <tr>
              <td>{{watering.date}}</td>
              <td>{{watering.get_water_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
			<div class="subsection-content">
        <p>{{flower.name}} has not been watered!!</p>
      </div>
    {% endif %}
    </section>
    <section class="vases">
      <div class="subsection-title">
        <h2>Vases</h2>
        <img src="{% static 'images/vase.jpeg' %}" alt="A vase" />
        <img src="{% static 'images/vase.jpeg' %}" alt="A vase" />
        <img src="{% static 'images/vase.jpeg' %}" alt="A vase" />
      </div>
      <h3>{{ flower.name }}'s Vases</h3>
      <div class="subsection-content">
        {% if flower.vases.count %}
          {% for vase in flower.vases.all %}
            <div class="vases-container">
              <div 
                class="color-block"
                style="background-color: {{ vase.color }}"
              ></div>
              <a href="{% url 'vases_detail' vase.id %}">
                <p>A {{ vase.color }} {{ vase.type }}</p>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-vases">{{flower.name}} doesn't have any vases</p>
        {% endif %}
      </div>
      <h3>Available Vases</h3>
    <div class="subsection-content">
      {% if vases.count %}
        {% for vase in vases.all %}
          <div class="vase-container">
            <div 
              class="color-block"
              style="background-color: {{ vase.color }}"
            ></div>
            <a href="{% url 'vases_detail' vase.id %}">
              <p>A {{ vase.color }} {{ vase.type }}</p>
            </a>
            <form action="{% url 'assoc_vase' flower.id vase.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give vase</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-vases">
          {{flower.name}} already has all the available vases!!
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}