{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href=""
  >
  <title>Flower Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link
  rel="shortcut icon"
  type="image/png"
  href="{% static 'images/splash.svg' %}"
>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          class="logoimg"
          src="{% static 'images/flowercollectorlogo.png' %}"
          alt="The Flower Collector Logo"
        >
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'flowers_index' %}">All Flowers</a></li>
          <li><a href="{% url 'vases_index' %}">All Vases</a></li>
          <li><a href="{% url 'flowers_create' %}">Add a Flower</a></li>
          <li><a href="{% url 'vases_create' %}">Add a Vase</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %} 
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>